* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "poppins", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #fff;
}

nav {
  flex: 1;
  text-align: right;
}
.nav-text {
  padding-left: 50px;
  margin: auto;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 25px;
}
a {
  text-decoration: none;
  color: #13118d;
}
p {
  color: #555;
  margin: auto;
  padding-right: 25px;
  padding-left: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 h1 {
  padding-bottom: 20px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 {
  font-size: 20px;
  line-height: 30px;
  margin: 30px 0;
}
.btn {
  display: inline-block;
  background-color: #ff523b;
  color: #fff;
  padding: 8px 20px;
  margin: 20px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover {
  background: #563434;
}
.header {
  background: radial-gradient(#fff, #555);
}
.header row {
  margin-top: 70px;
}
.categories {
  margin: 70px 0;
  background-color: #555;
}
.col-3 {
  min-width: 400px;
  margin-bottom: 20px;
}
.col-3 img {
  width: 620px;
}
.little-container {
  max-width: 1000px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4 {
  flex-basis: 24%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  font-size: small;
  transition: transform 0.5s;
}
.col-4 img {
  width: 250px;
}
.col-4 p {
  padding: 0;
}
.title {
  text-align: center;
  margin: 0 auto 50px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.h4 {
  color: #555;
  font-weight: normal;
}
.col-4 {
  font-size: 14px;
}
.rating .fa {
  color: #ff523b;
}
.col-4:hover {
  transform: translateY(-7 px);
}
